In [ ]:
#1
name = "sathvik"
age = 21
print(name, age)

sathvik 21

In [2]:
#2
x = 10
x = "now i am string"
print(x)

now i am string

In [3]:
#3
a,b,c = 5,3.2,"NLP"
print(a,b,c)

5 3.2 NLP

In [4]:
#4
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

In [5]:
#5
x =5
print(float(x))
y = 3.9
print(int(y))

5.0
3

In [8]:
#6
valid_sr = "123"
print(int(valid_sr))

#invalid_sr = "12a"

123

In [9]:
#7
num = 45
print("number is: "+ str(num))

number is: 45

In [ ]:
#8
flag = True
print(flag,type(flag))

True <class 'bool'>

In [11]:
#  9. Implicit Type Conversion

result = 5 + 3.2
print(result,type(result))

8.2 <class 'float'>

In [13]:
 #âœ… 10. Use type hints (Python 3.5+)
 
def greet(name:str,age:int):
    return f"hello {name}, you are {age} years old."
 
 
print(greet("sathvik",24))

hello sathvik, you are 24 years old.