In [1]:
# Task 1: Assign your name and age to variables and print them together in a sentence.
name = "sathvik"
age = 24
print(f"name is {name} and age of this guy is {age}")

name is sathvik and age of this guy is 24

In [2]:
# Task 2: Reassign a float value to an integer variable and print its new type.
var_i = 34
print(type(var_i))
var_i = 4.5
print(type(var_i))

<class 'int'>
<class 'float'>

In [6]:
# Task 3: Assign three variables of different types in one line and print them.
a,b,c = 4,3.4,True
print(a,b,c)

4 3.4 True

In [10]:
# Task 4: Convert a string number to int, multiply it by 10, and print the result.
string_num= "134"
real_num = int(string_num)
result = real_num*10
result

1340

In [12]:
# Task 5: Create a variable, convert it to a string, and print its type.
var = 34
conver = str(var)
print(conver)
print(type(conver))

34
<class 'str'>